html {
    font-family: 'Open Sans', sans-serif;
    color: #dc143c;
    font-weight: 400;
    height: 100vh;
    margin: 0;
    background-color: whitesmoke;
}

body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-direction: row;
    margin: 20px;
}

#name {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 30px;
    margin: 0;
    padding: 0;
}

#name::after {
    content: 'H';
    font-weight: 600;
}

#name::before {
    content: 'H';
    font-weight: 800;
}

#subtitle {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    margin: 0;
    margin-top: -10px;
    padding: 0;
    font-size: 11.8px;
}

.v-box {
    display: flex;
    width: auto;
    margin-left: 10px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
}

.h-box {
    display: flex;
}

#menu {
    height: 32px;
    width: 32px;
    margin: 10px;
    cursor: pointer;
    align-self: flex-start;
}

#menu:hover {
    transform: scale(0.9);
    transition: 200ms;
}

#capteur-section {
    padding: 20px;
}

#panel-capteur {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    margin-top: 50px;
    justify-content: space-evenly;
}

h2 {
    color: black;
    font-weight: 400;
    font-size: 15px;
    top: -40px;
    position: absolute;
    left: 10px;
}

.circle {
    background-color: white;
    border-radius: 100%;
    width: 80px;
    height: 80px;
    display: flex;
    margin: 0;
    position: absolute;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 18px;
    border: solid 6px;
    position: absolute;
    /* postulat de départ */
    top: 50%;
    left: 25px;
    transform: translateY(-50%);
    /* décalage de 50% de sa propre taille */
    color: black;
}

.capteur-box h3 {
    align-self: flex-start;
    margin: 0;
    color: black;
    font-size: 15px;
    font-weight: 600;
}

.capteur-box {
    background-color: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 20px;
    height: fit-content;
    margin: 10px;
    margin-top: 30px;
    color: black;
    width: 300px;
    padding-left: 135px;
}

.capteur-box:hover {
    transform: scale(1.02);
    transition: 150ms;
}

.description {
    font-weight: 400;
    font-size: 13px;
    color: rgb(97, 97, 97);
}

#side-menu {
    position: fixed;
    display: none;
    flex-direction: column;
    align-items: center;
    right: 0;
    top: 0;
    color: rgb(97, 97, 97);
    background-color: white;
    margin: 0;
    z-index: 100;
    padding: 0;
    padding-top: 10vh;
    justify-content: flex-start;
    height: 100vh;
    width: 250px;
    -webkit-animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

#side-menu ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 0;
}

#side-menu li {
    list-style: none;
    margin: 15px;
    display: flex;
    justify-content: flex-start;
    font-size: 15px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7px;
    width: 130px;
    height: 20px;
    border: solid px;
    border-color: rgb(247, 247, 247);
}

#side-menu li:hover {
    cursor: pointer;
}

.icon {
    margin-right: 10px;
    width: 20px;
    height: 20px;
}

#close {
    width: 35px;
    position: fixed;
    display: none;
    z-index: 101;
    top: 0;
    right: 0;
    margin: 20px;
    -webkit-animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

#close:hover {
    cursor: pointer;
}

#logout {
    background-color: #dc143c;
    color: white;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7px;
    height: 20px;
    border: solid 2px !important;
    border-color: #dc143c !important;
}

#logout:hover {
    background-color: white;
    color: #dc143c;
    transition: 150ms;
}

#logout:hover #logout-icon {
    transition: 150ms;
    content: url('../img/icons8-exit3.png');
}

footer {
    align-self: flex-end;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    font-size: 11px;
    display: flex;
    align-items: center;
    background-color: white;
    color: black;
}

@-webkit-keyframes slide-left {
    0% {
        -webkit-transform: translateX(100px);
        transform: translateX(100px);
    }
    100% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
    }
}

@keyframes slide-left {
    0% {
        -webkit-transform: translateX(100px);
        transform: translateX(100px);
    }
    100% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
    }
}